<template>
  <!-- <v-zoomer style="width: 100%; height: 100%; border: solid 1px silver;"> -->
  <!-- <img :src="value" style="object-fit: contain; width: 100%; height: 100%;" /> -->
  <!-- <input type="text" class="SharpText" :value="value" /> -->
  <!-- </v-zoomer> -->
  <div v-viewer class="images clearfix">
    <img :src="value" class="SharpImageZoomable" />
  </div>
</template>

<script>
export default {
  props: {
    value: String // file name
  }
};
</script>

<style type="text/css" scoped>
.SharpImageZoomable {
  display: none;
}
</style>
